[data-v-36deee50] .van-cell-group--inset {
	margin: 0
}

[data-v-36deee50] .van-button {
	padding: 0 .26667rem;
	height: .85333rem !important;
	line-height: .85333rem !important;
	width: 2.13333rem !important;
	font-size: .37333rem;
	border-radius: .08rem
}

[data-v-36deee50] .van-button,
[data-v-36deee50] .van-button--primary,
[data-v-36deee50] .van-button--warning {
	color: #3476da !important;
	background-color: #dee6ff !important
}

.checkClass[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	box-sizing: border-box;
	line-height: .53333rem;
	margin-top: .26667rem;
	color: #999
}

.checkClass[data-v-36deee50] .van-checkbox__icon {
	font-size: .42667rem;
	padding-top: .05333rem
}

.checkClass[data-v-36deee50] .van-checkbox__icon .van-icon {
	font-size: .42667rem;
	width: .42667rem;
	height: .42667rem
}

.buttonClass[data-v-36deee50] {
	height: 1.06667rem;
	border-radius: .13333rem;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer
}

.buttonClass[data-v-36deee50],
.rowClass[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box;
	background-color: #f1f1f1
}

.rowClass[data-v-36deee50] {
	height: 1.2rem;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	border-radius: .08rem
}

.rowClass[data-v-36deee50] .van-cell {
	border: .02667rem solid #f1f1f1;
	background-color: #f1f1f1
}

.rowClass span[data-v-36deee50] {
	width: 3.73333rem;
	padding: .08rem;
	color: #6a9df5;
	font-size: .32rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.ls[data-v-36deee50] {
	background-color: #5bb3a7
}

.ls2[data-v-36deee50] {
	background-color: #7fcbc1
}

.hongs[data-v-36deee50] {
	background-color: #b35b5b
}

.hongs2[data-v-36deee50] {
	background-color: #cb7f7f
}

.huis[data-v-36deee50] {
	background-color: #5bb3a7
}

.huis2[data-v-36deee50] {
	background-color: #7fcbc1
}

[data-v-36deee50] .van-button--primary,
[data-v-36deee50] .van-button--warning {
	border: .02667rem solid #6a9df5 !important;
	background-color: #6a9df5 !important
}

.van-dialog__content[data-v-36deee50] {
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.van-dialog__content .dialogClass[data-v-36deee50],
.van-dialog__content[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	box-sizing: border-box
}

.van-dialog__content .dialogClass[data-v-36deee50] {
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: .53333rem;
	padding: .4rem;
	font-size: .32rem;
	position: relative
}

.van-dialog__content .dialogClass-icon[data-v-36deee50] {
	width: .53333rem;
	height: .53333rem;
	position: absolute;
	top: .18667rem;
	right: .18667rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.van-dialog__content .dialogClass-icon i[data-v-36deee50] {
	font-size: .53333rem
}

.van-dialog__content .dialogClass-header[data-v-36deee50] {
	height: .8rem;
	font-size: .42667rem;
	font-weight: 700
}

.van-dialog__content .dialogClass-desc[data-v-36deee50],
.van-dialog__content .dialogClass-header[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.van-dialog__content .dialogClass-desc[data-v-36deee50] {
	height: 1.33333rem;
	line-height: .42667rem;
	font-size: .29333rem;
	color: #999
}

.containerApp[data-v-36deee50] {
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	background-color: #dbe0ee;
	padding: .26667rem
}

.containerApp-buttons[data-v-36deee50],
.containerApp[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	box-sizing: border-box
}

.containerApp-buttons[data-v-36deee50] {
	height: 1.33333rem;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: .37333rem
}

.containerApp-buttons span[data-v-36deee50] {
	color: #5c93e9;
	text-decoration: underline;
	font-weight: 500
}

.containerApp-title[data-v-36deee50] {
	line-height: 1.06667rem;
	font-size: .42667rem;
	color: #fff
}

.containerApp-subtitle[data-v-36deee50],
.containerApp-title[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0 .26667rem
}

.containerApp-subtitle[data-v-36deee50] {
	line-height: .8rem;
	font-size: .34667rem;
	color: #54b803;
	border-bottom: .02667rem solid #ddd
}

.containerApp[data-v-36deee50] .van-field__control {
	width: 100% !important
}

.containerApp .borderClass[data-v-36deee50] {
	border: .08rem solid #d3c382 !important
}

.containerApp .borderClass2[data-v-36deee50] {
	border: .02667rem solid #d3c382 !important
}

.containerApp-content[data-v-36deee50] {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #fff;
	padding-top: .26667rem;
	border-radius: .26667rem
}

.containerApp-content-panel[data-v-36deee50],
.containerApp-content[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-content-panel-group[data-v-36deee50],
.containerApp-content-panel[data-v-36deee50] {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

.containerApp-content-panel-group[data-v-36deee50] {
	color: #fff;
	font-weight: 700;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0 .53333rem;
	height: 2.66667rem;
	position: relative
}

.containerApp-content-panel-group img[data-v-36deee50] {
	width: 100%;
	height: 2.66667rem;
	border-radius: .13333rem
}

.containerApp-content-panel-group-info[data-v-36deee50] {
	height: 2.4rem;
	position: absolute;
	z-index: 999;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 0 .26667rem
}

.containerApp-content-panel-group-info-item[data-v-36deee50],
.containerApp-content-panel-group-info[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	box-sizing: border-box
}

.containerApp-content-panel-group-info-item[data-v-36deee50] {
	height: .66667rem;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: .32rem;
	font-weight: 500 !important
}

.containerApp-content-panel-group-info-item img[data-v-36deee50] {
	width: .53333rem;
	height: .53333rem;
	margin-right: .13333rem
}

.containerApp-content-panel-group-info-item2[data-v-36deee50] {
	width: 100%;
	height: 1.06667rem;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: .42667rem
}

.containerApp-content-panel-area[data-v-36deee50],
.containerApp-content-panel-group-info-item2[data-v-36deee50] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	box-sizing: border-box
}

.containerApp-content-panel-area[data-v-36deee50] {
	width: 80%;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	background-color: #fff;
	border-radius: .18667rem;
	padding: 0 .4rem 0 .4rem
}

.containerApp-content-panel-area-msg[data-v-36deee50] {
	line-height: .66667rem;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: .13333rem 0
}

.containerApp-content-panel-area-msg1[data-v-36deee50],
.containerApp-content-panel-area-msg[data-v-36deee50] {
	font-size: .42667rem;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-content-panel-area-msg1[data-v-36deee50] {
	height: 1.06667rem
}

.containerApp-content-panel-area-desc[data-v-36deee50] {
	height: .53333rem;
	font-size: .42667rem;
	color: #fff;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-content-panel-area-person[data-v-36deee50] {
	font-size: .48rem;
	color: #333;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.containerApp-content-panel-area-person-item[data-v-36deee50],
.containerApp-content-panel-area-person[data-v-36deee50] {
	width: 100%;
	height: 1.06667rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-content-panel-area-person-item[data-v-36deee50] {
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.containerApp-content-panel-area-person-item div[data-v-36deee50],
.containerApp-content-panel-area-role[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-content-panel-area-role[data-v-36deee50] {
	font-size: .42667rem;
	color: #333;
	height: 1.06667rem
}

.containerApp-content-panel-area-role-item[data-v-36deee50] {
	height: 1.06667rem;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.containerApp-content-panel-area-role-item[data-v-36deee50],
.containerApp-content-panel-area-role-item div[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-content-panel-area-role-item div[data-v-36deee50] {
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.containerApp-content-panel-area-date[data-v-36deee50] {
	font-size: .64rem;
	height: 1.33333rem
}

.containerApp-content-panel-area-date[data-v-36deee50],
.containerApp-content-panel-area-dqdate[data-v-36deee50] {
	width: 100%;
	font-weight: 700;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-content-panel-area-dqdate[data-v-36deee50] {
	font-size: .37333rem;
	color: #999;
	height: 1.06667rem
}

.containerApp-content-panel-area-image[data-v-36deee50] {
	width: 100%
}

.containerApp-content-panel-area-image-panel[data-v-36deee50],
.containerApp-content-panel-area-image[data-v-36deee50] {
	height: 5.46667rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-content-panel-area-image-panel[data-v-36deee50] {
	width: 5.46667rem;
	border-radius: .13333rem;
	border: .08rem solid #fff
}

.containerApp-content-panel-area-image-panel-panel2[data-v-36deee50] {
	width: 5.2rem;
	height: 5.2rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: .13333rem;
	border: .02667rem solid #fff
}


.containerApp-content-panel-area-image-panel-panel2-imageCode[data-v-36deee50] {
	width: 5.01333rem;
	height: 5.01333rem;
	border-radius: .08rem
}

.containerApp-content-panel-msg[data-v-36deee50] {
	margin-top: 0;
	font-size: .29333rem;
	color: #a2a2a2;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 0 .53333rem .26667rem .53333rem
}

.containerApp-content-buttons[data-v-36deee50],
.containerApp-content-panel-msg[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	box-sizing: border-box
}

.containerApp-content-buttons[data-v-36deee50] {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 1.06667rem
}

.containerApp-panel[data-v-36deee50] {
	width: 100%;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.containerApp-hs[data-v-36deee50],
.containerApp-panel[data-v-36deee50] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	box-sizing: border-box
}

.containerApp-hs[data-v-36deee50] {
	width: 3.2rem;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: .26667rem
}

.containerApp-hs-item[data-v-36deee50] {
	width: 100%;
	height: .8rem;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff
}

.containerApp-hs-item[data-v-36deee50],
.containerApp-yqfk[data-v-36deee50] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	box-sizing: border-box
}

.containerApp-yqfk[data-v-36deee50] {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-left: .26667rem;
	margin-top: .26667rem;
	height: 2.4rem;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	background-color: #fff;
	border-radius: .26667rem
}

.containerApp-yqfk-left[data-v-36deee50] {
	width: 60%;
	height: 2.4rem;
	padding: .13333rem .18667rem
}

.containerApp-yqfk-left-top[data-v-36deee50] {
	width: 100%;
	height: .66667rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box;
	font-size: .37333rem;
	font-weight: 700
}

.containerApp-yqfk-left-center[data-v-36deee50] {
	height: .93333rem;
	line-height: .4rem
}

.containerApp-yqfk-left-bottom[data-v-36deee50],
.containerApp-yqfk-left-center[data-v-36deee50] {
	width: 100%;
	font-size: .29333rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box;
	color: #999
}

.containerApp-yqfk-left-bottom[data-v-36deee50] {
	height: .53333rem;
	margin-bottom: .13333rem
}

.containerApp-yqfk-right[data-v-36deee50] {
	width: 40%;
	height: 2.4rem;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-right: .26667rem
}

.containerApp-yqfk-right-circle[data-v-36deee50],
.containerApp-yqfk-right[data-v-36deee50] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-yqfk-right-circle[data-v-36deee50] {
	width: .8rem;
	height: .8rem;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.containerApp-yqfk-right-circle i[data-v-36deee50] {
	font-size: .85333rem;
	font-weight: 700;
	color: #28a835
}

.containerApp-yqfk-right span[data-v-36deee50] {
	padding: .08rem .13333rem;
	border: .02667rem solid #28a835;
	color: #28a835;
	margin-top: .13333rem;
	border-radius: .08rem;
	font-size: .29333rem
}

.containerApp-yqfk2[data-v-36deee50] {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-left: .26667rem;
	margin-top: .26667rem;
	height: 2.4rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: .26667rem
}

.containerApp-yqfk2-left[data-v-36deee50] {
	width: 60%;
	height: 2.4rem;
	padding: .13333rem .18667rem
}

.containerApp-yqfk2-left-top[data-v-36deee50] {
	height: .66667rem;
	font-size: .37333rem;
	font-weight: 700
}

.containerApp-yqfk2-left-center[data-v-36deee50],
.containerApp-yqfk2-left-top[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-yqfk2-left-center[data-v-36deee50] {
	height: .93333rem;
	line-height: .4rem;
	font-size: .29333rem;
	color: #999
}

.containerApp-yqfk2-left-bottom[data-v-36deee50] {
	width: 100%;
	height: .53333rem;
	margin-bottom: .13333rem;
	font-size: .29333rem;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	color: #999
}

.containerApp-yqfk2-left-bottom[data-v-36deee50],
.containerApp-yqfk2-right[data-v-36deee50] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-yqfk2-right[data-v-36deee50] {
	width: 40%;
	height: 2.4rem;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-right: .26667rem
}

.containerApp-yqfk2-right-circle[data-v-36deee50],
.containerApp-yqfk2-right[data-v-36deee50] {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}

.containerApp-yqfk2-right-circle[data-v-36deee50] {
	width: .8rem;
	height: .8rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-yqfk2-right-circle i[data-v-36deee50] {
	font-size: .85333rem;
	font-weight: 700;
	color: #ea0000
}

.containerApp-yqfk2-right span[data-v-36deee50] {
	padding: .08rem .13333rem;
	border: .02667rem solid #ea0000;
	color: #ea0000;
	margin-top: .13333rem;
	border-radius: .08rem;
	font-size: .29333rem
}

.containerApp-yqfk3[data-v-36deee50] {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-left: .26667rem;
	margin-top: .26667rem;
	height: 2.4rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: .26667rem
}

.containerApp-yqfk3-left[data-v-36deee50] {
	width: 60%;
	height: 2.4rem;
	padding: .13333rem .18667rem
}

.containerApp-yqfk3-left-top[data-v-36deee50] {
	height: .8rem;
	font-size: .37333rem;
	font-weight: 700;
	color: #000
}

.containerApp-yqfk3-left-center[data-v-36deee50],
.containerApp-yqfk3-left-top[data-v-36deee50] {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-yqfk3-left-center[data-v-36deee50] {
	height: 1.06667rem;
	line-height: .4rem;
	font-size: .29333rem;
	color: #a2a2a2
}

.containerApp-yqfk3-left-bottom[data-v-36deee50] {
	width: 100%;
	height: .53333rem;
	font-size: .29333rem;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	color: #a2a2a2
}

.containerApp-yqfk3-left-bottom[data-v-36deee50],
.containerApp-yqfk3-right[data-v-36deee50] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-yqfk3-right[data-v-36deee50] {
	width: 40%;
	height: 2.4rem;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-right: .26667rem
}

.containerApp-yqfk3-right-circle[data-v-36deee50],
.containerApp-yqfk3-right[data-v-36deee50] {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}

.containerApp-yqfk3-right-circle[data-v-36deee50] {
	width: .8rem;
	height: .8rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-yqfk3-right-circle i[data-v-36deee50] {
	font-size: .85333rem;
	font-weight: 700;
	color: #f9ba04
}

.containerApp-yqfk3-right span[data-v-36deee50] {
	padding: .08rem .13333rem;
	border: .02667rem solid #f9ba04;
	color: #f9ba04;
	margin-top: .13333rem;
	border-radius: .08rem;
	font-size: .29333rem
}

.containerApp-xck[data-v-36deee50] {
	width: 100%;
	border-radius: .26667rem;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	background-color: #fff;
	margin-top: .26667rem
}

.containerApp-xck-left[data-v-36deee50],
.containerApp-xck[data-v-36deee50] {
	height: 1.33333rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	box-sizing: border-box
}

.containerApp-xck-left[data-v-36deee50] {
	width: 1.6rem;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.containerApp-xck-left i[data-v-36deee50] {
	font-size: .85333rem;
	color: #809bf4
}

.containerApp-xck-right[data-v-36deee50] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	box-sizing: border-box
}

.containerApp-xck-right-left[data-v-36deee50],
.containerApp-xck-right[data-v-36deee50] {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 1.33333rem
}

.containerApp-xck-right-left-top[data-v-36deee50] {
	font-size: .37333rem;
	font-weight: 700;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	color: #000
}

.containerApp-xck-right-left-bottom[data-v-36deee50],
.containerApp-xck-right-left-top[data-v-36deee50] {
	width: 100%;
	height: .66667rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	box-sizing: border-box
}

.containerApp-xck-right-left-bottom[data-v-36deee50] {
	font-size: .29333rem;
	color: #a2a2a2;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.containerApp-xck-right-right[data-v-36deee50] {
	width: 1.6rem;
	height: 1.33333rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box
}

.containerApp-xck-right-right span[data-v-36deee50] {
	padding: .08rem .26667rem;
	color: #809bf4;
	border: .02667rem solid #809bf4;
	border-radius: .13333rem
}
